version: "3.9"
services:
  backend:
    container_name: backend
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:rofpun@db:5432/calculus_db
  
  frontend:
    container_name: frontend
    build: ./frontend
    ports:
      - "5173:80"
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost/"]
      interval: 30s
      timeout: 5s
      retries: 3
  
  db:
    image: postgres:15
    container_name: postgres_db
    
    ports:
      - "5432:5432"
    
    environment:
      POSTGRES_USER: postgres    
      POSTGRES_PASSWORD: rofpun
      POSTGRES_DB: calculus_db
      POSTGRES_HOST_AUTH_METHOD: md5 
      
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: