fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
pydantic
pydantic-settings
python-jose[cryptography]
passlib
bcrypt==4.0.1
python-multipart
pandas
openpyxl
scikit-learn
joblib
email-validator
httpx>=0.27.0   